<h1>New product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

	name:<%= f.text_field :name %>
	quantity: <%= f.text_field :quantity %>
	location: <%= f.text_field :location %>
	harvested on: <%= f.date_select :harvested_on %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>
