<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>sur+plus</title>
  <%= stylesheet_link_tag 'scaffold', 'wice_grid' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
	<div id="header" style="float:left;width:250px">
		<div class="box">
			<%= link_to image_tag('surplus.png'), '/', :style => "position:relative;left: -0.5em" %>
			<p>This website helps gardeners share abundant harvests</p>
			<p style="margin-top:0.2em">Establish an exchange location with fellow gardeners, then update the inventory and enjoy</p>
			<p><%= link_to 'Deposit abundance now', new_product_path %></p>
			<p><%= link_to 'Email me daily updates', new_user_path %></p>
			<p style="display:none">Find out more | Get help</p>
			<p style="font-size:small;text-align:right;color:#666">an <%= link_to "Open Source", "http://github.com/itsgucci/surplusplus/tree/master" %> project</p>
		</div>
	</div>
	<div style="margin-left:275px">
		<%- if flash[:notice] %>
		<div class="box notice" style="text-align:right;margin-bottom: 1em;">
			<p style="float:left"><%= flash[:notice] %></p>
			<p><%- if flash[:last_taken] %><%= link_to('undo', replace_product_path(flash[:last_taken]), :method => :post) %> or <%= link_to('take-another', take_product_path(flash[:last_taken]), :method => :post) %><%- end %>&nbsp;</p>
		</div>
		<%- end %>
		<%- if flash[:error] %>
		<div class="box notice" style="text-align:right;margin-bottom: 1em;">
			<p style="float:left"><%= flash[:error] %></p>
			<p><%- if flash[:last_taken] %><%= link_to('undo', replace_product_path(flash[:last_taken]), :method => :post) %> or <%= link_to('take-another', take_product_path(flash[:last_taken]), :method => :post) %><%- end %>&nbsp;</p>
		</div>
		<%- end %>
		<%= yield  %>		
	</div>
</body>
</html>
